


.iconBox_3  {
    
    
    text-align: left;
    cursor: pointer;
    

    position:relative;
}
.iconBox_3  .icon-icon
{
    width:100%;
 
    line-height:70px;
    
    background:#fff;
    color:#F05F40;
    margin:0px;
}
.iconBox_3,.iconBox_3 i,
.iconBox_3  p,.icon-icon,
.iconBox_3  :after,.iconBox_3 h3:before,
.icon-icon:after,
.icon-icon,.icon-content{
    transition: all 0.5s ease-in-out;
}

.iconBox_3  p {
    padding:15px 0px 15px 16px;
	font-family:Open Sans,Helvetica, Arial, sans-serif; 
	
	line-height: 20px; 
	
}
.iconBox_3 h3 {
    font-size: 20px;
    font-weight:normal;
    letter-spacing:0.7px;
    position: relative;
    margin:20px 0;
    padding:10px 0;
    background:none;
    overflow:hidden;
	color:#F05F40
}
.iconBox_3 h3:before
{
    content:"";
    background:#F05F40;
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    left:50%;
}
.iconBox_3  h3:after
{
    content:"";
    background:#F05F40;
    width:0;
    height:2px;
    position:absolute;
    bottom:0;
    right:50%;
}
.iconBox_3:hover h3:after,
.iconBox_3:hover h3:before
{
    width:100%;
}
.iconBox_3  i {
    display: inline-block;
    font-size:2em;
    line-height:70px;
}
.iconBox_3:hover .icon-icon
{
    background:#F05F40;
    color:#fff;
}
.iconBox_3 a.read{color:#F05F40; }
.iconBox_3 a.read:hover{color:#333; }